{% extends 'menu.html' %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    title: 'Atenção!',
                    text: '{{ message }}', 
                    icon: 'warning' 
                });
        </script>
        {% endfor %}
    {% endif %}


<div class="container mt-4">
    <h3>Realizando Avaliação de Sarcopenia para: {{ paciente.nome }}</h3>
    <hr>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <p><strong>{{ form.quarta_etapa.label }}</strong></p>
            {% for radio in form.quarta_etapa %}
                <div class="form-check">
                    <label class="form-check-label">{{ radio.tag }} {{ radio.choice_label }}</label>
                </div>
            {% endfor %}
        </div>
       
        <div class="mb-3">
            <label class="form-label">{{ form.valor_quarta_etapa.label }}</label>
            {{ form.valor_quarta_etapa }}
        </div>
        
        <button type="submit" class="btn btn-primary">Salvar Avaliação</button>
    </form>
     
    
</div>
{% endblock %}