{% extends 'menu.html'%}
{% block content %}

<div class="mt-3" style="width:100%;">
    <h1>Informações sobre o projeto :)</h1>

    <table class="table" style="width:100%;">
        <thead>
            <tr>
                <th>Funcionalidade</th>
                <th>Modelo</th>
                <th>URLs</th>
                <th>View</th>
                <th>Template</th>
                <th>Responsável</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>RF001 Cadastrar novo usuário</td>
                <td>Corredor</td>
                <td>'conta/create/'</td>
                <td>conta_views.create_user</td>
                <td>conta/create_user.html</td>
                <td>Pablo Pimentel</td>
            </tr>


            <tr>
                <td>RF002 Logar na aplicação</td>
                <td>Corredor</td>
                <td>name='conta_login'</td>
                <td>django.contrib.auth.urls</td>
                <td>registration/login.html</td>
                <td>João Antunes</td>
            </tr>

            <tr>
                <td>RF003 Visualizar usuário</td>
                <td>Corredor</td>
                <td>'conta/corredor/int:corredor_id'</td>
                <td>conta_views.corredor_read</td>
                <td>conta/corredor_read.html</td>
                <td>João Antunes, Mariana Batalha</td>
            </tr>

            <tr>
                <td>RF004 Atualizar usuário</td>
                <td>Corredor</td>
                <td>'conta/update/int:user_id</td>
                <td>conta_views.corredor_update</td>
                <td>conta/corredor_update.html</td>
                <td>Pablo Pimentel</td>
            </tr>

            <tr>
                <td>RF005 Excluir usuário</td>
                <td>Corredor</td>
                <td>'conta/delete/int:corredor_id'</td>
                <td>conta_views.corredor_delete</td>
                <td>redirect('content.html')</td>
                <td>João Antunes, Sara Siqueira</td>
            </tr>

            <tr>
                <td>RF006 Registrar corrida</td>
                <td>Corrida</td>
                <td>'conta/int:user_id/corrida/create'</td>
                <td>conta_views.corrida_create</td>
                <td>conta/corrida_create.html</td>
                <td>Pablo Pimentel, Mariana Batalha</td>
            </tr>

            <tr>
                <td>RF007 Analisar corrida</td>
                <td>Corrida</td>
                <td>'conta/int:user_id/corrida/read/int:corrida_id'</td>
                <td>conta_views.corrida_read</td>
                <td>conta/corrida_read.html</td>
                <td>João Antunes</td>
            </tr>

            <tr>
                <td>RF008 Histórico do usuário</td>
                <td>Corredor</td>
                <td>'conta/corredor/int:corredor_id'</td>
                <td>conta_views.corredor_read</td>
                <td>conta/corredor_read.html</td>
                <td>João Antunes</td>
            </tr>
            <tr>
                <td>RF009 Comparar apenas dois usuários</td>
                <td>Corredor, Corrida</td>
                <td>'conta/comparar/corredor/int:corredor_id'</td>
                <td>conta_views.comparar_dois_corredores</td>
                <td>conta/comparar_corredores.html</td>
                <td>Pablo Pimentel</td>
            </tr>



            <tr>
                <td>RF010 Gerar ranking geral por quilometragem</td>
                <td>Corredor, Corrida</td>
                <td>'conta/corrida/ranking_distancia'</td>
                <td>conta_views.ranking_distancia_corrida</td>
                <td>conta/ranking_distancia_corrida.html</td>
                <td>João Antunes</td>
            </tr>

            <tr>
                <td>RF011 Gerar rankings entre usuários selecionados</td>
                <td>Corredor, Corrida</td>
                <td>'conta/comparar/corredores
                    /int:corredor_id1/int:corredor_id2'</td>
                <td>conta_views.comparacao_corredores</td>
                <td>conta/comparacao_corredores.html</td>
                <td>Pablo Pimentel</td>
            </tr>


            <tr>
                <td>RF012 Gerar ranking geral por velocidade média</td>
                <td>Corredor, Corrida</td>
                <td>'conta/corrida/ranking_velocidade'</td>
                <td>conta_views.ranking_velocidade_corrida</td>
                <td>conta/ranking_velocidade_corrida.html</td>
                <td>Pablo Pimentel</td>
            </tr>

            <tr>
                <td>RF013 Gerar ranking geral de tempo de atividades</td>
                <td>Corredor, Corrida</td>
                <td>'conta/corrida/ranking_tempo'</td>
                <td>conta_views.ranking_tempo_corrida</td>
                <td>conta/ranking_tempo_corrida.html</td>
                <td>João Antunes, Sara Siqueira</td>
            </tr>
            <tr>
                <td>RF014 Adicionar comentários no perfil de usuários</td>
                <td>Corredor, Corrida</td>
                <td>'conta/corrida/comentar/int:corrida_id'</td>
                <td>conta_views.comentar_corrida</td>
                <td>conta/comentar_corrida.html</td>
                <td>Pablo Pimentel</td>
            </tr>

            <tr>
                <td>RNF001 Desenvolvido em Pyhton com framework Django</td>
                <td>Corredor, Corrida</td>
                <td>all</td>
                <td>all</td>
                <td>None</td>
                <td>Pablo Pimentel, João Antunes, Mariana Batalha, Sara Siqueira</td>
            </tr>

            <tr>
                <td>RNF002 Possui suporte Front-End do framework Bootstrap</td>
                <td>Corredor, Corrida</td>
                <td>None</td>
                <td>None</td>
                <td>all</td>
                <td>João Antunes, Pablo Pimentel, Mariana Batalha, Sara Siqueira</td>
            </tr>

            <tr>
                <td>RNF003 Possui suporte Front-End do Frameword SweetAlert2</td>
                <td>Corredor, Corrida</td>
                <td>None</td>
                <td>None</td>
                <td>conta/corredor_read.html conta/corrida_list.html</td>
                <td>João Antunes, Pablo Pimentel, Mariana Batalha, Sara Siqueira</td>
            </tr>



        </tbody>

        <thead>
            <tr>
                <th>Informações adicionais!</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>Modelo: <td>Corredor</td></th>
                <th>Feito por:</th>
                <td>João Antunes, Pablo Pimentel</td>
            </tr>
            <tr>
                <th>Modelo: <td>Corrida</td></th>
                <th>Feito por: <td>João Antunes, Pablo Pimentel</td></th>
            </tr>
            <tr>
                <th>Templates: <td>FrameWorks</td></th>
                <th>Feito por: <td>Mariana Batalha, Sara Siqueira</td></th>
            </tr>
        </tbody>
    </table>
</div>




{% endblock content %}