{% extends 'menu.html' %}
{% load static %}
{% block content %}

<style>
    .card-custom {
        padding: 0 !important;
    }
    .card-custom .card-body {
        padding: 2.5rem;
    }
</style>

<div class="container mt-5">
    <div class="card card-custom">
        <div class="card-body">

            <h3 class="text-center mb-4 text-principal" style="font-weight: bold;">
                Escolha o Tipo de Avaliação para: <span class="text-principal">{{ paciente.nome }}</span>
            </h3>
            <hr class="mb-5">

            <form method="post" class="d-flex flex-column gap-3">
                {% csrf_token %}
                <button type="submit" name="tipo" value="N" class="btn btn-principal btn-lg">
                    Avaliação para pacientes de peso ideal
                </button>

                <button type="submit" name="tipo" value="O" class="btn btn-principal btn-lg">
                    Avaliação para pacientes obesos
                </button>
            </form>

            <hr class="mb-5">

            <h3 class="text-center mb-4 text-principal" style="font-weight: bold;">
                Dados do Paciente: <span class="text-principal">{{ paciente.nome }}</span>
            </h3>
            <hr class="mb-5">

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Nome: </strong> {{ paciente.nome }}</li>
                <li class="list-group-item"><strong>Idade: </strong> {{ paciente.idade }}</li>
                <li class="list-group-item"><strong>Peso: </strong> {{ paciente.peso }} Kg</li>
                <li class="list-group-item"><strong>Altura: </strong> {{ paciente.estatura }}</li>
            </ul>

            <button>                                     <a class="dropdown-item" href="{% url 'update_paciente' paciente.id %}">
                                        <i class="bi bi-pencil-square me-2"></i> Editar Cadastro
                                    </a>   </button>

        </div>
    </div>
</div>

{% endblock content %}
