{% extends 'menu.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card-custom">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Avaliação de Paciente Normal</h1>
            <!-- <a href="{% url 'usuario_list' paciente.avaliador.id %}" class="btn btn-principal">Voltar para Lista de Usuários</a> --> 
        </div>
        <div class="d-flex flex-column gap-3">
            <a href="{% url 'avaliar_primeira_etapa' questionario.id %}" class="btn btn-primary btn-lg">Avaliação para pacientes de peso ideal</a>
            <a href="{% url 'avaliar_primeira_etapa' questionario.id %}" class="btn btn-primary btn-lg">Avaliação para pacientes obesos</a>
        </div>
    </div>
</div>
{% endblock content %}