{% extends 'menu.html' %}
{% load static %} {% block content %}

<style>
    .card-custom {
        padding: 0 !important;
    }
    .card-custom .card-body {
        padding: 2.5rem;
    }
</style>
<div class="container mt-5">
    <div class="card card-custom">
        <div class="card-body">

            <h3 class="text-center mb-4 text-principal" style="font-weight: bold;">
                Escolha o Tipo de Avaliação para: <span class="text-principal">{{ paciente.nome }}</span>
            </h3>
            <hr class="mb-5">

            <div class="d-flex flex-column gap-3">
                
                <a href="{% url 'avaliar_primeira_etapa' questionario.id %}" class="btn btn-principal btn-lg">Avaliação para pacientes de peso ideal</a>
                
                <a href="{% url 'avaliar_primeira_etapa_obeso' questionario.id %}" class="btn btn-principal btn-lg">Avaliação para pacientes obesos</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}