# Ambientes Virtuais
/venv/
venv/

# Arquivos de Banco de Dados
*.sqlite3
db.sqlite3

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Arquivos de IDEs e do Sistema
.idea/
.vscode/
*.DS_Store

config/local_settings.py