{% extends 'menu.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8"> 
            <div class="card-custom">
                <h1 class="text-center mb-4">Login</h1>
                <form action="{% url 'login' %}" method="post" class="form-aligned">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="{{ form.username.id_for_label }}" class="form-label">Nome de Usuário</label>
                        {{ form.username }}
                    </div>
                    
                    <div class="mb-3">
                        <label for="{{ form.password.id_for_label }}" class="form-label">Senha</label>
                        {{ form.password }}
                    </div>
                    
                    <div class="d-grid gap-2" style="grid-column: 1 / -1;">
                        <button type="submit" value="login" class="btn btn-principal btn-lg mt-3">Entrar</button>
                        <input type="hidden" name="next" value="{{next}}">
                    </div>
                </form>
                <div class="text-center mt-4 pt-3 border-top">
                    <p class="mb-2">Ainda não tem conta?</p>
                    <a href="{% url 'create_user' %}" class="btn btn-outline-principal">Crie uma agora!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}