{% extends 'menu.html'%}
{% block content %}
<div class="container">
    <div class="container mb-3">
        <h1>Login</h1>
    </div>
    <form action="{% url 'login' %}" method="post">
        {%csrf_token%}
        <table>
            <tr>
                <td>{{form.username.label_tag}}</td>
                <td>{{form.username}}</td>
            </tr>
            <tr>
                <td>{{form.password.label_tag}}</td>
                <td>{{form.password}}</td>
            </tr>
        </table>
        <div class="container">
            <button type="submit" value="login" class="btn btn-success mt-3">Login</button>
            <input type="hidden" name="next" value="{{next}}">
        </div>
    </form>
    <div class="container mt-3">
        <a href="{% url 'create_user' %}" class="btn btn-info">Criar conta</a>
    </div>
</div>
{%endblock content%}