{% extends 'menu.html' %}
{% block content %}

<div class="container mt-5">
    <div class="card-custom">
        <div class="text-center mb-5">
            <h1>Bem-vindo ao Projeto!</h1>
            <h3 class="text-secondary mt-2">Ferramentas e informações ao seu alcance</h3>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                Conheça mais sobre o projeto e a equipe.
                <a href="{% url 'sobre' %}" class="btn btn-principal">Ver Sobre</a>
            </li>
            {% if user.is_authenticated %}
            <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                Veja uma lista com todos os usuários cadastrados.
                <a href="{% url 'usuario_list' user.id %}" class="btn btn-principal">Ver Usuários</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center py-3">
                Acesse e edite as informações do seu perfil.
                <a href="{% url 'usuario_read' user.id %}" class="btn btn-principal">Ver Meu Perfil</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock content %}