{% extends 'base.html' %}
{% block footer %}

<footer class="text-center text-white footer_customize {% if footer_position == 'absolute' %} footer_is_absolute {% endif %}" style="background-color: #3f51b5">
    <div class="footer_title">
        Participantes
    </div>
    <div>
        <h5 class="footer_content"> 
            <br> Pablo da Rosa Pimentel 
            <br> Arthur Benedet dos Santos Custodio 
            <br> Kaio Francisco Martinhago 
            <br> Eduardo Abrahao Malateaux Takayama 
        </h5>
    </div>
</footer>

{% endblock footer %}