{% extends 'base.html' %}
{% block footer %}


<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="navbar-fixed-bottom">
    <!-- Footer -->
    <footer class="text-center text-white footer_customize" style="background-color: #3f51b5">
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            Participantes

            <!-- Copyright -->
        </div>
        <div>
            <h5>Pablo da Rosa Pimentel <br> Arthur Benedet dos Santos Custódio <br> Kaio <br> Eduardo</h5>
        </div>
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
{% endblock footer %}