{% extends 'base.html' %}
{% block footer %}

<footer class="text-center text-white footer_customize mt-5">
    <div class="container pb-4"> <div class="footer_title">
            Participantes
        </div>
        <div class="py-3">
            <h5 class="footer_content" style="line-height: 1.8;">
                Pablo da Rosa Pimentel <br>
                Arthur Benedet dos Santos Custodio <br>
                Kaio Francisco Martinhago <br>
            </h5>
        </div>
        <div class="footer_content footer_bottom_bar">
            2025 - Universidade Federal de Santa Catarina - Campus Araranguá
        </div>
    </div>
</footer>

{% endblock footer %}