{% extends 'footer.html' %}
{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark navbar-customizada">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}" style="font-weight: bold;">SarcopeniaSys</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Funcionalidades
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'sobre' %}">Sobre</a></li>
            <li><a class="dropdown-item" href="{% url 'usuario_list' user.id %}">Usuários</a></li>
            <li><a class="dropdown-item" href="{% url 'usuario_read' user.id %}">Meu Perfil</a></li>
            <li><a class="dropdown-item" href="{% url 'create_paciente' user.id %}">Cadastrar Paciente</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

      {% if user.is_authenticated %}
      <p style="color: white; margin: 0 15px 0 0;">Olá, {{ user }}</p>
      <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-nav-minimalist">Sair</button>
      </form>
      {% else %}
      <a class="btn btn-nav-minimalist m-2" href="{% url 'login' %}">Login</a>
      <a href="{% url 'create_user' %}" class="btn btn-nav-minimalist">Criar Conta</a>
      {% endif %}

    </div>
  </div>
</nav>

{% if messages %}
        {% for message in messages %}
            <script>
                Swal.fire({
                    title: 'Atenção!',
                    text: '{{ message|escapejs }}', 
                    icon: 'warning' 
                });
        </script>
        {% endfor %}
    {% endif %}

{% endblock navbar %}
